/*
/*/

!/i3/
!/polybar/
!/ranger/
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
!/alacritty/
!/fish/
!/neofetch/
!/omf/
!/.zshrc
!/.gitignore
!/README.md
!/zsh
!/i3status/
!/mutt/
/mutt/accounts/*
!/my-packages.txt
!/jesseduffield/
!/fcitx5/
/fcitx5/crash.log
/jesseduffield/lazygit/*
jesseduffield/lazynpm/state.yml
!/jesseduffield/lazygit/config.yml
!/.tmux.conf
!/tmux/
ranger/colorschemes/__init__.pyo
ranger/colorschemes/default.pyo
ranger/plugins/__init__.pyo
ranger/plugins/devicons.pyo
ranger/plugins/devicons_linemode.pyo
!/pudb/
/pudb/*
!/pudb/pudb.cfg
!/screenshots/
