/*
/*/

!/gh/
/gh/hosts.yml
!/latte/
!/.zshrc
!/.gitignore
!/README.md
!/zsh
!/my-packages.txt
!/my-packages-q.txt
!/vimium-options.json
!/vimium-c-options.json
!/fcitx5/
/fcitx5/crash.log
!/kdeglobals
!/kglobalshortcutsrc
!/khotkeysrc
!/kwinrc
